.form-control {
  width: 500px;
  margin-left: 5%;
}
.label {
  margin-left: 5%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.jumbotron {
  width: 90%;
  margin-left: 5%;
  border-radius: 6px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.float-container {
  padding: 20px;
}
.float-child {
  width: 50%;
  float: left;
  padding: 10px;
}
.container {
  clear: both;
}
